body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #ffffff;
}
    .container {
        display: inline-block;
        width: 800px;
        margin-top: 100px;
        margin-left: calc(50% - 400px);
    }
        .left {
            display: inline-block;
            width: 50%;
            float: left;
        }
        .right {
            display: inline-block;
            width: 40%;
            padding: 20px;
            float: right;
            border: 1px solid #cccccc;
            border-radius: 5px;
        }
            .form {
                display: inline-block;
                width: 100%;
            }
                .form-row {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 20px;
                }
                    .main-title {
                        display: inline-block;
                        width: 100%;
                        text-align: center;
                    }
                    .label {
                        display: inline-block;
                        width: 100%;
                        font-size: 12px;
                        font-weight: bold;
                    }
                        .required {
                            color: red;
                        }
                    .input {
                        display: inline-block;
                        width: 100%;
                        padding: 10px;
                        padding-left: 50px;
                    }
                    .checkbox {

                    }
                    .checkbox-label {

                    }
                    .forgot-link {

                    }
                    .btn {
                        display: inline-block;
                        width: 100%;
                    }
            .form-bottom {
                display: inline-block;
                width: 100%;
            }
           